h1 {
    color: rgb(119, 197, 116);
}

.btn {
    &__click-me{
        color: rgb(43, 226, 202);
    }
    
}

.header {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-clip: border-box;
}

/* -------------------------------------------------------------------------- */
/*                              Colors variables                              */
/* -------------------------------------------------------------------------- */

$color-primary: #151728;
$color-primary-dark: #121321;
$color-primary-light: #2d3252;

$color-secondary-dark: #2d273f;
$color-secondary: #584c7c;
$color-secondary-light: #6f609e;

$color-grey-dark-1: #777;
$color-grey-dark-2: #bfbfbf;
$color-grey-dark-3: #737373;

$color-grey-light-1: #e6e6e6;
$color-grey-light-2: #ccc;
$color-grey-light-3: #bfbfbf;

$color-white: #fff;
$color-black: #000;

$color-bcground: #24273b;
$color-bcground-body: #79777e;
$color-border: #2d3252;

/* -------------------------------------------------------------------------- */
/*                             Font variables                                 */
/* -------------------------------------------------------------------------- */

$default-font-size: 1.4rem;
$default-font-color: #595959;

$font-size-small: 0.8rem;
$font-size-medium: 2rem;

/* -------------------------------------------------------------------------- */
/*                              Layout Variables                              */
/* -------------------------------------------------------------------------- */
$header-size: 5.9rem;
$footer-size: 5rem;

/* -------------------------------------------------------------------------- */
/*                            Breakpoints Variables                           */
/* -------------------------------------------------------------------------- */

$breakpoints: (
    "large-1": 87.5em,
    "large-2": 75em,
    "medium-1": 60em,
    "medium-2": 50em,
    "small-1": 37.5em,
    "small-2": 25em
);


/* -------------------------------- Flip Card Component------------------------------- */

.flip-card {
    perspective: 110rem;
    cursor: pointer;
    &__side {
        padding: 0.8rem 0rem;
        transition: all 0.7s;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        backface-visibility: hidden;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
        &--front {
            color: $color-grey-dark-2;
            background-color: $color-primary;
            font-size: 1.7rem;
            font-weight: 300;
        }

        &--back {
            transform: rotateX(180deg);
            background-color: $color-primary-light;
            font-weight: 100;
        }
    }
    &:hover &__side--front,
    &--flipped &__side--front {
        transform: rotateX(-180deg);
    }

    &:hover &__side--back,
    &--flipped &__side--back {
        transform: rotateX(0);
    }
}
